/* Google Font Import Link */
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@400;500&display=swap');

/* Header Style */
.top-banner {
    color: white;
    background-color: black;
    width: 1321px;
    height: 646px;
    background: #161616;
    border: 1px solid;
    border-style: none;
    border-radius: 30px;
    margin: 50px 140px;
    display: flex;
    justify-content: space-evenly;
}

.header-image {
    border: 1px solid;
    border-style: none;
    margin-top: 70px;
    width: 400px;
    height: 300px;
}

.header-text {
    width: 531px;
    height: 424px;
}

.header-text h2 {
    margin-top: 50px;
    font-weight: 700;
    font-size: 70px;
}

.page-info {
    margin-top: -50px;
    font-weight: 400;
    font-size: 16px;
}

.live-button {
    color: white;
    font-weight: 400;
    font-size: 20px;
    background-color: #DD0000;
    border: 1px solid;
    border-style: none;
    border-radius: 5px;
    padding: 16px 25px;
}

/* Animation Section */

.banner-ball img {
    width: 100px;
    position: relative;
    left: 400px;
    top: 120px;
}

.banner-ball {
    transition: transform .1s ease .01s;
    position: relative;
}

.banner-player {
    height: 500px;
    width: 500px;
    transition: transform .3s ease-out;
}

.header-image:hover .banner-ball {
    transform: translate(-1000px, -200px) rotate(20deg);
}

.banner-player {
    height: 500px;
    width: 500px;
    transition: transform .3s ease-out;
}

.header-image:hover .banner-player {
    transform: rotate(-50deg);
    transform-origin: top bottom;
}

/* Common Styles */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.container {
    display: flex;
    justify-content: flex-start;
    align-content: center;
}

/* Box Button Styles */
.box-button {
    background-color: #161616;
    border: 1px solid;
    border-style: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 312px;
    height: 375px;
    margin-left: 140px;
}

.button-style {
    background-color: #FFFFFF;
    border: 1px solid;
    border-style: none;
    border-radius: 10px;
    margin: 30px 30px;
    font-weight: 500;
    font-size: 20px;
    padding: 17px 0px;
}

.button-style a {
    text-decoration: none;
    color: #161616;
}

/* Blogs Styles */
.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    margin-top: -20px;
    margin-right: 35px;
}

.blog {
    border: 1px solid;
    border-style: none;
    width: 312px;
    border-radius: 10px 10px 0px 0px;
    background-color: #FFFFFF;
    filter: drop-shadow(0px 5.34229px 13.3557px rgba(0, 0, 0, 0.123));
    margin: 20px 24px;
}

.blog-info {
    margin: 20px 0 0 20px;
}

.blog-title {
    color: #161616;
    font-weight: 600;
    font-size: 18px;
}

.blog-bottom {
    font-weight: 400;
    font-size: 16px;
    color: rgba(22, 22, 22, 0.7);
    display: flex;
    margin-top: -10px;
    margin-bottom: 20px;
}

.message {
    margin-left: 30px;
}

.distance {
    margin-left: 10px;
}

/* Main Section End Button style */
.view-button {
    color: white;
    font-weight: 400;
    font-size: 20px;
    background-color: #DD0000;
    border: 1px solid;
    border-style: none;
    border-radius: 5px;
    padding: 12px 29px;
    margin-top: 62px;
    visibility: hidden;
}

.main-end-button {
    text-align: center;
}

/*---------------------------------------
        Upcoming Match Page Styles
---------------------------------------*/
.matches {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: -22px;
    margin-right: 35px;
}

.match {
    border: 1px solid #E8E8E8;
    border-radius: 10px;
    background-color: #FFFFFF;
    margin: 24px 24px;
}

.team-image {
    display: flex;
    align-items: center;
}

.team-image img {
    margin: 30px 30px 0px 30px;
}

.match-title {
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: #161616;
}

.match-date {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #4D4D4D;
    margin-top: -25px;
    margin-bottom: 50px;
}

/*---------------------------------------
        Button Color For Active Page
-----------------------------------------*/
.button-style:hover {
    background-color: #DD0000;
}


/*---------------------------------------
            Footer Styles
 --------------------------------------*/
.footer-container {
    color: white;
    background-color: #161616;
    height: 444px;
    width: 100%;
}

.footer-heading {
    font-weight: 600;
    font-size: 40px;
    padding-top: 130px;
    color: #FFFFFF;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

hr {
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 1100px;
    margin-bottom: 50px;
}

.footer-label ul {
    list-style: none;
    display: flex;
    justify-content: center;
    color: #B9B9B9;
    font-weight: 500;
    font-size: 16px;
}

.footer-label ul>li {
    margin-left: 30px;
}

.social-media {
    text-align: center;
    margin: 10px;
}

.social-media a {
    text-decoration: none;
    margin-left: 20px;
    color: aqua;
}

/*-----------------------------
        Media Queries Styles
-----------------------------*/

/* For Mobile Devices */
@media only screen and (max-width: 480px) {
    body {
        width: 688px;
    }

    .top-banner {
        display: block;
        height: 800px;
        margin-left: 0px;
        width: 100vw;
    }

    .header-text {
        padding-left: 50px;
        padding-top: 50px;
        width: 600px;
    }

    #show {
        font-size: 30px;
        margin-top: -20px;
        margin-bottom: 80px;
        width: 300px;
        text-align: center;
    }

    .page-info {
        border: 1px solid;
        border-style: none;
        width: 300px;
        text-align: center;
    }

    .live-button {
        margin-left: 65px
    }

    .header-image {
        position: absolute;
        margin-top: -150px;
    }

    .banner-player img {
        margin-left: -5px;
        margin-top: 70px;
        width: 400px;
    }

    .banner-ball img {
        width: 70px;
        position: relative;
        left: 275px;
        top: 170px;
    }

    .banner-player {
        height: 400px;
        width: 450px;
        transition: transform .3s ease-out;
    }

    .container {
        flex-direction: column;
        align-items: flex-start;
        margin-left: 30px;
    }

    .box-button {
        background-color: white;
        margin-left: 0px;
        align-items: center;
        height: 250px;
    }

    .button-style {
        border: 1px solid;
        padding: 10px 40px;
        margin: 10px 10px;
    }

    .blogs {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }

    .view-button {
        display: none;
    }

    .footer-container {
        width: 100vw;
    }

    .footer-heading {
        margin: 0px;
        padding-top: 30px;
        font-size: 25px;
        border: 1px solid;
        border-style: none;
        width: 100px;
        margin-left: 150px;
    }

    hr {
        width: 300px;
        margin-bottom: 10px;
    }

    .footer-label ul {
        font-size: 14px;
        flex-direction: column;
        margin-left: 80px;
    }

    .footer-label ul>li {
        margin-bottom: 10px;
    }

    .social-media {
        margin-left: -10px;
    }

    .blogs {
        margin-right: 0px;
    }

    /*--------------------------------
    upcoming match page responsive
    --------------------------------*/
    .matches {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }
}

/*-------------------------------------
            For Tablets
-------------------------------------*/
@media only screen and (min-width: 481px) and (max-width: 768px) {

    .top-banner {
        width: 700px;
        display: flex;
        margin-top: 30px;
        margin-bottom: 20px;
    }

    #show {
        font-size: 35px;
        width: 300px;
    }

    .page-info {
        margin-top: 50px;
        font-size: 14px;
    }

    .header-text {
        margin-left: 130px;
    }

    .banner-player img {
        margin-top: 150px;
        margin-left: -90px;
        width: 485px;
    }

    .banner-ball img {
        width: 85px;
        position: relative;
        left: 250px;
        top: 260px;
    }

    .container {
        display: block;
        width: 700px;
        margin-left: 120px;
    }

    .box-button {
        display: flex;
        flex-direction: row;
        width: auto;
        height: 130px;
        background-color: white;
        margin-left: 50px;
    }

    .button-style {
        background: #FFFFFF;
        border: 1px solid #E8E8E8;
        border-radius: 10px;
        padding-left: 20px;
        padding-right: 20px;
        font-weight: 500;
        font-size: 20px;
    }

    .blogs {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }

    .view-button {
        visibility: visible;
        margin-top: 0px;
        margin-left: 200px;
    }

    .footer-container {
        width: 1000px;
        height: 400px;
    }

    .footer-heading {
        font-weight: 600;
        font-size: 40px;
        padding-top: 50px;
        margin-top: 0px;
    }

    hr {
        width: 800px;
        margin-bottom: 0px;
    }

    .footer-label ul {
        width: 700px;
        flex-wrap: wrap;
        align-content: center;
        margin-bottom: 15px;
        margin-left: 100px;
    }

    .footer-label ul>li {
        margin-top: 30px;
    }

    /*--------------------------------
    upcoming match page responsive
    --------------------------------*/
    .matches {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }
}